<div data-sly-test="${wcmmode.edit && !properties.tags}">
    Configure Taggedlinklist component
</div>
<div data-sly-test="${properties.tags}" data-sly-use.model="com.aviva.tagapplication.model.TagApplicationModel">
    <h3>Tags selected in the given dialog:</h3>
    <table style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%;" data-sly-list="${model.eachTag}">
        <tr>
            <td><b>${item}</b>
            </td>
        </tr>
    </table>
    <table style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%;background-color : grey" data-sly-list="${model.taggedLinkPage}">
        <tr data-sly-test="${itemList.count == 1}">
            <th style="border: 1px solid #dddddd;text-align:left;padding: 8px;">Page Title
            </th>
            <th style="border: 1px solid #dddddd;text-align:left;padding: 8px;">Page Link
            </th>
            <th style="border: 1px solid #dddddd;text-align:left;padding: 8px;">Page Tags
            </th>
        </tr>
        <tr>
            <td style="border: 1px solid #dddddd;text-align:left;padding: 8px;">${item.pageTitle}</td>
            <td style="border: 1px solid #dddddd;text-align:left;padding: 8px;"><a href="${item.pagePath}.html">${item.pageTitle}</a>
                <td style="border: 1px solid #dddddd;text-align:left;padding: 8px;">${item.tags}</td>
            </td>
        </tr>
    </table>
</div>